* {
  transform-origin: 0 0 !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  background-color: #ededef;
}

h1 {
  font-weight: 500 !important;
}

.btn {
  display: block;
  margin-top: 100px;
  margin-left: 24px;
  width: 120px;
  height: 40px;
  border-radius: 8px;
  background-color: #222;
  color: #fff;
}

.title {
  display: inline-flex;
  background: #000;
  font-weight: 500;
}

.card {
  margin: 24px 16px;
  border-radius: 12px;
  background-color: #fff;
  min-height: 40px;
}
